DB_USER=petzone
DB_PASSWORD=change_me
DB_NAME=petzone_db
JWT_SECRET=your-super-secret-jwt-key-minimum-32-characters
SEQ_ADMIN_PASSWORD=change_me
MINIO_USER=minioadmin
MINIO_PASSWORD=change_me
ADMIN_EMAIL=admin@petzone.com
ADMIN_PASSWORD=change_me
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=PetZone
RABBITMQ_USER=petzone
RABBITMQ_PASSWORD=change_me
UMAMI_APP_SECRET=change_me_random_secret_min_32_chars
